VITE_FIREBASE_API_KEY=AIzaSyCqybRh2GoJjFJrNBEtIDM4UeWCaAA--Kw
VITE_FIREBASE_AUTH_DOMAIN=mohammad-saud-portfolio.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mohammad-saud-portfolio
VITE_FIREBASE_STORAGE_BUCKET=mohammad-saud-portfolio.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1015865883589
VITE_FIREBASE_APP_ID=1:1015865883589:web:e6f962eca2d1fc853429ac

VITE_CLOUDINARY_CLOUD_NAME=dmls21l84
VITE_CLOUDINARY_UPLOAD_PRESET=farhanportfolio

VITE_BOOKING_URL=https://cal.com/YOUR_CAL_USERNAME
VITE_CONTACT_EMAIL=saudstudio@gmail.com